.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-title {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    color: white;
    background-color: lightslategray;
}
.col-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 4000px;
    width: 100%;
}
.controller-queue-container, .search-container, .recommendations-container {
    margin: 20px;
    height: 500px;
    width: 750px;
    background-color: #2e2d2d;
    border-radius: 4px;
}

.submit-button {
    background-color: #FF5F58;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover, .submit-button:focus {
    background-color: #84bd00;
}