.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-title {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    color: white;
    background-color: lightslategray;
}
.col-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    width: 100%;
}
.controller-queue-container, .search-container, .recommendations-container {
    margin: 20px;
    height: 500px;
    width: 175px;
    background-color: #2e2d2d;
    border-radius: 4px;
}