[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "==3.4.8"
pytest-html = "==1.20.0"

[packages]
spotipy = {git = "https://github.com/jamespeacock/spotipy.git",ref = "master"}
requests = "*"
django = "==2.2.10"
django-allauth = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-cors-headers = "*"
markdown = "*"
django-filter = "*"
django-tastypie = "*"
pytest = "*"
gunicorn = "*"
numpy = "*"
polling = "*"
prompt-toolkit = "==2.0.10"
psycopg2 = "*"
#jupyter = "*"
#matplotlib = "*"
#seaborn = "*"
social-auth-app-django = "*"
