[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "==3.4.8"
pytest-html = "==1.20.0"

[packages]
spotipy = {git = "https://github.com/jamespeacock/spotipy.git", ref = "master"}
requests = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-tastypie = "*"
pytest = "*"
gunicorn = "*"
numpy = "*"
prompt-toolkit="*"
psycopg2 = "*"
#jupyter = "*"
#matplotlib = "*"
#seaborn = "*"

[requires]
python_version = "2.7"
