[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-pytest = "*"

[packages]
spotipy = {git = "https://github.com/plamere/spotipy.git", ref = "master"}
requests = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-tastypie = "*"
pytest = "*"
gunicorn = "*"
numpy = "*"
prompt-toolkit="*"
#jupyter = "*"
#matplotlib = "*"
#seaborn = "*"

[requires]
python_version = "2.7"
