upstream playmaker {
    ip_hash;
    server interface:5000;
}

map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

add_header X-Frame-Options SAMEORIGIN;
#add_header X-Content-Type-Options nosniff;
#add_header X-XSS-Protection "1; mode=block";

server {
    listen 80;
	server_name localhost;
	return 301 https://$host$request_uri;
}


ssl_certificate     common.crt;
ssl_certificate_key common.key;

server {
    location /static/ {
        autoindex on;
        alias /static/;
    }

    location / {
        proxy_pass http://playmaker/;
        proxy_set_header Host interface;
    }

    client_max_body_size 50M;

    listen 443 ssl;
    listen [::]:443 ssl;

    proxy_read_timeout 600s;

    server_name localhost;

    ssl_session_cache shared:SSL:20m;
    ssl_session_timeout 180m;

    ssl_protocols TLSv1.2;

}