@import "./theme.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

$primary-theme: $color-primary-0;
$dark: #111111;
$gray: #1d1d1d;
$light: #EEEEEE;

//@font-face {
//  font-family: myFirstFont;
//  src: url(MR ROBOT.ttf);
//}



.App {
  text-align: left;
}


.nav-link {
  color: $gray;
}

.navbar {
  composes: navbar;
  background-color: $dark;
  border-color: $primary-theme;
  color: $primary-theme;
}

.navbar-header {
  composes: navbar;
}

.navbar-brand {
  composes: navbar;
}

.dropdown-menu {
  background-color: $gray;
  color: $light;
}

.dropdown-item {
  composes: dropdown-menu;
}

.jumbotron-dashboard {
  border-radius: 30px;
  color: $light;
  background-color: $gray;
}

.card-room {
  border-radius: 20px;
  background-color: $color-primary-0;
}

.card-song {
  border-radius: 20px;
  background-color: $color-secondary-1-0;
}

.btn-primary {
  background-color: $color-primary-0;
  border-color: $color-primary-0;
  color: $dark;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: $color-primary-2;
  border-color: $color-primary-2;
  color: $dark;
}

body {
  background-color: $dark;
  color: $light;
}

ul {
  list-style-type: none;
}
