$primary-theme: #ff5f58;

.App {
  text-align: left;
}

.nav-link {
  color: #2e2d2d;
}

.navbar-header {
  background-color: $primary-theme;
  color: #2e2d2d; /* accent color */
  border-radius: 0px 0px 20px 20px;
}

.dropdown-menu-right {
  color: #2e2d2d; /* accent color */
}

.jumbotron-dashboard {
  border-radius: 30px;
  color: #A9B6C7;
  background-color: darkslategrey;
}

.card-room {
  border-radius: 20px;
  background-color: #ff5f58;
}

.card-song {
  border-radius: 20px;
  background-color: #13391c;
}

.btn-primary {
  background-color: $primary-theme;
  border-color: $primary-theme;
  color: #2e2d2d;
}

body {
  background-color: #2c2c2c;
  opacity: .9;
  color: #A9B6C7;
}



ul {
  list-style-type: none;
}