@import "./theme.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

$primary-theme: $color-primary-0;
$dark: #111111;
$gray: #1d1d1d;
$light: #EEEEEE;
$hover-color: $color-primary-2;

@font-face {
  font-family: MrRobot;
  src: url("./assets/fonts/MR ROBOT.ttf");
}

@font-face {
  font-family: FiraSans-Regular;
  src: url("./assets/fonts/Fira_Sans/FiraSans-Regular.ttf");
}

.App {
  text-align: left;
}

.nav-link {
  color: $gray;
}

.navbar {
  composes: navbar;
  background-color: $dark;
  border-color: $primary-theme;
  color: $primary-theme;
  :hover, :focus, :active {
    color: $hover-color;
  }
}

.navbar-header {
  composes: navbar;
}

.navbar-brand {
  composes: navbar;
  color: $primary-theme;
  font-family: MrRobot;
}

.navbar-dark .navbar-brand:hover {
  color: $hover-color;
}

.navbar-dark .navbar-brand {
  composes: navbar;
  color: $primary-theme;
  font-family: MrRobot;
}

.dropdown-toggle {
  color: $primary-theme;
  :hover, :focus, :active {
    color: $hover-color;
  }
}

.dropdown-menu {
  background-color: $gray;
  color: $light;
  right: 0;
  left: auto;
}

.dropdown-item {
  composes: dropdown-menu;
  color: $light;
}

.jumbotron-dashboard {
  border-radius: 30px;
  color: $light;
  background-color: $gray;
}

.card {
  border-radius: 20px;
  background-color: $gray;
  color: $light;
}

.card-body {
  composes: card;
}

.card-room {
  composes: card;
  background-color: $color-secondary-1-4;
}

.card-song {
  composes: card;
  background-color: $color-secondary-2-4;
}

.btn-primary {
  background-color: $color-primary-0;
  border-color: $color-primary-0;
  color: $dark;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: $hover-color;
  border-color: $hover-color;
  color: $dark;
}

body {
  background-color: $dark;
  color: $light;
  font-family: FiraSans-Regular;
}

ul {
  list-style-type: none;
}
