.header-container {
    display: flex;
    justify-content: center;
    background-color: lightgray ;
    height: 150px;
}
.listener-area {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.queue-title {
    text-align: center;
}
.queue-container {
    background-color: lightgray;
    max-width: 500px;
    width: 100%;
}
.queue-list {

}
.queue-item {

}
.playing-now {
    text-align: center;
    background-color: slategray;
    color: white;
}